@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;


@plugin "flowbite/plugin";
@plugin "daisyui";
@source "../node_modules/flowbite";

.mozilla-text-sus {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: "Mozilla Text", sans-serif;
}